/* body {
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

.mafiaChaImg {
    width: 400px;
    height: 400px;
    border: 9px solid #AC0003;
}

.mafiaChaSpan {
    width: 400px;
    height: 200px;
    border: 9px solid #AC0003;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.mafiaChaSpan span:first-child {
    font-size: 25px;
}

.mafiaChaSpan span {
    font-size: large;
    text-align: center;
    color: white;
}

.mafiaCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    left: 50%;

}

#mafiaHideBtn {
    font-size: large;
    background-color: black;
    margin-top: 50px;
    border: 3px solid #AC0003;
    color: #AC0003;
    width: 250px;
    height: 40px;
}

.center {
    display: flex;
    justify-content: center;
}